 #landingPage{
    position:fixed;
    inset:0;
    background:linear-gradient(135deg,#0f172a,#1a1a2e,#16213e);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    z-index:9999;
    padding:30px;
}
html{

scroll-behavior:smooth;

}

#landingPage h1{
    font-size:60px;
    margin-bottom:15px;
    color:white;
}

#landingPage p{
    max-width:700px;
    color:#d1d5db;
    line-height:1.8;
    font-size:20px;
    margin-bottom:40px;
}

#startBtn{
    padding:16px 42px;
    border:none;
    border-radius:50px;
    background:#3b82f6;
    color:white;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
}
.card{

animation:float 3s ease-in-out infinite;

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-8px);

}

100%{

transform:translateY(0);

}

}

#startBtn:hover{
    background:#2563eb;
    transform:translateY(-4px);
}

.fadeOut{
    animation:fadeOut .8s forwards;
}

@keyframes fadeOut{
    from{
        opacity:1;
    }
    to{
        opacity:0;
        visibility:hidden;
    }
}
